.header__dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.dropdown-btn-text {
    color: white;
    font: var(--font-little-text-bold);

}

.dropdown-content {
    left: -9px;
    top: 30px;
    background-color: white;
    position: absolute;
    list-style-type: none;
    font: var(--font-text-bold);
    margin: 0;
    padding: 5px 10px;
    border-radius: 10px 0 0 10px;
}

.dropdown-item:not(:last-child) {
    margin-bottom: 10px;
}

.dropdown-item {
    font: var(--font-text-regular);
}

.dropdown-btn img {
    filter: invert(100);
    width: 12px;
    height: 12px;
    margin-left: 4px;
}

@media screen and (min-width: 767.8px) {
    .dropdown-btn-text {
        font: var(--font-text-bold);
    }
}