{
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["."],
        "extensions": [
          ".ts",
          ".tsx",
          ".js",
          ".jsx"
        ]
      }
    }
    },
  
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-import",
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "react-app",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript"
  ],
  "rules": {
    "prefer-const": "warn",
    "no-console": ["warn", { "allow": ["error"] }],
    "quotes": ["warn", "double"],
    "jsx-quotes": ["warn", "prefer-double"],
    "max-len": ["warn", {"code": 120}],
    "comma-dangle": ["warn", "always-multiline"],
    "semi": ["warn", "always"],
    "import/order": ["warn", {
      "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"],
      "newlines-between": "always"
    }],
    "no-empty-function": ["warn", { "allow": ["arrowFunctions"] }],
    "import/no-restricted-paths": ["error", {
      "zones": [
        { "target": "./src/UI/**/*", "from": "./src/components/**/*" },
        { "target": "./src/UI/**/*", "from": "./src/modules/**/*" }
      ]
    }]
  }
}
