{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "jsxSingleQuote": true,
    "arrowParens": "always",
    "printWidth": 80,
    "overrides": [
      {
        "files": "*.{ts,tsx}",
        "options": {
          "parser": "typescript"
        }
      }
    ]
  }
  