

.list-answers {
    margin: 0;
    padding: 0;
}

.list-answers__item {
    box-sizing:border-box;
    flex-basis: 100%;
    list-style-type: none;
    border: 1px solid var(--color-border-answer);
    padding: 7px;
    font: var(--font-little-text-bold);
    cursor: pointer;
}

.list-answers__item-active {
    border: 2px solid rgb(103, 104, 215);
}

.list-answers__item:not(:last-child) {
    margin-bottom: 10px;
}


@media screen and (min-width: 767.8px) {
    .list-answers__item {
        font: var(--font-text-bold);
    }
    .answers {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
    }
    .wrapper-img {
        display: flex;
        align-items: center;
        flex-basis: 55%;
        margin-bottom: 0;
    }
     .list-answers {
        flex-basis: auto;
    } 

    .list-answers__item:not(:last-child) {
        margin-bottom: 20px;
    }
    .list-answers__item {
        padding: 15px 20px;
    }
}

@media screen and (min-width: 1123.8px) {
    .list-answers__item {
        font: var(--font-text-bold);
    }

    .wrapper-img {
        flex-basis: 48%;
        padding: 8px;

    }

    .answers {
        gap: 40px;
    }
    

    .list-answers__item:not(:last-child) {
        margin-bottom: 30px;
    }

    
    
}