

.list-answers {
    margin: 0;
    padding: 0;
}

.list-answers__item {
    box-sizing:border-box;
    list-style-type: none;
    border: 1px solid var(--color-border-answer);
    padding: 7px;
    font: var(--font-little-text-bold);
    max-width: 540px;
    cursor: pointer;
}

.list-answers__item:not(:last-child) {
    margin-bottom: 10px;
}
.wrapper-img {
    align-items: center;
    box-sizing: border-box;
    padding: 8px;
    background-color: #DFE4E9;
    border-radius: 5px;
    max-width: 540px;
    margin-bottom: 14px;
}

.img {
    width: 100%;
    border-radius: 5px;
}

@media screen and (min-width: 767.8px) {
    .list-answers__item {
        font: var(--font-text-bold);
    }
    .answers {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 20px;
    }
    .wrapper-img {
        display: flex;
        align-items: center;
        flex-basis: 48%;
        margin-bottom: 0;
    }
    .list-answers {
        flex-basis: 48%;
    }

    .list-answers__item:not(:last-child) {
        margin-bottom: 20px;
    }
    .list-answers__item {
        padding: 15px 20px;
    }
}

@media screen and (min-width: 1123.8px) {
    .list-answers__item {
        font: var(--font-text-bold);
    }

    .wrapper-img {
        flex-basis: 48%;
        padding: 8px;

    }

    .answers {
        gap: 40px;
    }
    

    .list-answers__item:not(:last-child) {
        margin-bottom: 30px;
    }

    
    
}