.quiz {
    background-color: #fff;
    padding: 0 8px 47px 8px;
    margin: 54px 0 15px 0;
}
.quiz-btns {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between; 
    gap: 40px;
    margin-top: 32px;
    max-width: 540px;
}

.quiz-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 540px;
}



@media screen and (min-width: 768.8px) {

    .quiz-btns {
        max-width: 100%;
    }

    .quiz-top {
        max-width: 100%;
    }
}
@media screen and (min-width: 1123.8px) {
    .quiz {
        padding: 0 40px 47px 40px;
        margin: 114px 0 72px 0;
    } 
}