.test-features {
    background-color: #fff;
}
.test-features__title {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--color-title-background);
    font: var(--font-little-text-regular);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin: 0;
}

.test-features__img {
    display: block;
    width: 100%;
    max-width: 1129px;
    margin: 0 auto;
}

.test-features__text {
    font: var(--font-little-text-regular);
    margin: 0;
    padding: 10px 0;
}


@media screen and (min-width: 459.8px) {
    .test-features__text {
        padding: 20px 40px;
    }
}