.container {
    max-width: 1190px;
    min-width: 287px;
    margin: 0 auto;
    padding: 0 5px;
}

@media screen and (min-width: 1123.8px) {
    .footer .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}