.question__title {
    font: var(--font-little-text-bold);
    margin-bottom: 20px;
}

.question {
    padding-bottom: 14px;
}

.wrapper-img {
    align-items: center;
    box-sizing: border-box;
    padding: 8px;
    background-color: #DFE4E9;
    border-radius: 5px;
    max-width: 540px;
    margin-bottom: 14px;
}

.img {
    width: 100%;
    border-radius: 5px;
}



@media screen and (min-width: 767.8px) {
    .question__title {
        font: var(--font-h4);
    }
    .wrapper-img {
        display: flex;
        align-items: center;
        flex-basis: 55%;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1123.8px) {
    .wrapper-img {
        flex-basis: 48%;
        padding: 8px;

    }

    
}