.frontend-test__info {
    box-sizing: border-box;
    list-style-type: none;
    margin: 26px 0 0 0;
    padding: 8px 12px;
    background-color: var(--color-call-action-info);
}

.frontend-test__info-item {
    color: white;
    font: var(--font-little-text-bold);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.frontend-test__info-item:not(:last-child) {
    margin-bottom: 5px;
}

.frontend-test__info-img {
    width: 18px;
    height: 18px;
}

@media screen and (min-width: 459.8px) {
    .frontend-test__info {
        display: flex;
        align-items: center;
        gap: 30px;
        max-width: 685px;
        padding: 24px;
    }

    .frontend-test__info-item:not(:last-child) {
        margin: 0;
    }

    .frontend-test__info-item:not(:last-child):after {
        position: relative;
        content: "/";
        left: 12px;
    }
}