.btn {
    padding: 12px 80px;
    background-color: var(--color-button);
    border: none;
    font: var(--font-button);
    text-transform: uppercase;
    cursor: pointer;
}

.btn__link {
    color: white;
    text-decoration: none;
}