.header {
    background-color: #252B58;
    width: 100%;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    width: 140px;
    height: 68px;
}