.header {
    background-color: #252B58;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

