.header {
    background-color: #252B58;
    width: 100%;
    margin: 0 0 34px 0;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


@media screen and (min-width: 459.8px) {
    .header {
        margin: 0 0 40px 0;
    }
}
