.input {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 288px;
  height: 60px;
  border: 1px solid #81868c80;
  padding: 16px 19px;
  font: var(--font-text-bold);
  outline: none;
}

.error {
  font: var(--font-little-text-regular);
  color: red;
}

.label {
  position: absolute;
  top: -10px;
  left: 16px;
  z-index: 2;
  background-color: white;
  color: #81868c;
}

.article {
  position: relative;
  margin: 0 0 30px 0;
}

.input::placeholder {
  color: #81868c;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

@media screen and (min-width: 459.8px) {
  .input {
    max-width: 391px;
  }
}
