.features {
    background-color: #fff;
}

.features__img {
    display: block;
    width: 100%;
    max-width: 1129px;
    margin: 13px auto 0 auto;
}

.features__text {
    font: var(--font-little-text-regular);
    margin: 0;
    padding: 10px;
    text-align:justify;
}


@media screen and (min-width: 459.8px) {


    .features__text {
        font: var(--font-text-regular);
        padding: 20px 40px;
    }

    .features__img {
        margin: 26px auto 0 auto;
    }
    
}