.features {
    background-color: #fff;
}

.features__text {
    font: var(--font-little-text-regular);
    margin: 0;
    padding: 10px;
    text-align:justify;
}


@media screen and (min-width: 459.8px) {

    .features__text {
        font: var(--font-text-regular);
        padding: 20px 40px;
    }
    
}