.features {
    background-color: #fff;
}
.features__title {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--color-title-background);
    font: var(--font-little-text-regular);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin: 0;
    text-align: center;
}

.features__img {
    display: block;
    width: 100%;
    max-width: 1129px;
    margin: 13px auto 0 auto;
}

.features__text {
    font: var(--font-little-text-regular);
    margin: 0;
    padding: 10px;
    text-align:justify;
}


@media screen and (min-width: 459.8px) {

    .features__title {
        font: var(--font-h4);
        justify-content: flex-start;
        padding: 10px 0 10px 40px;
    }

    .features__text {
        font: var(--font-text-regular);
        padding: 20px 40px;
    }

    .features__img {
        margin: 26px auto 0 auto;
    }
    
}