.footer {
    background-color: var(--color-footer);
    padding: 16px 16px 48px 16px;
}

.wrapper {
    position: relative;
}

.footer__network-link:not(:last-child) {
    margin-right: 10px;
}

.footer__networks {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 10px;
}


.footer__network-link {
    filter: invert(0.5);
     width: 24px;
     height: 24px;
}

.footer__list-item {
    text-align: left;
}

.footer__list {
    list-style-type: none;
    padding: 0;
}

.footer__list-link {
    color: var(--color-footer-content);
    font: var(--font-little-text-regular);
    text-decoration: none;
}

.footer__list-item:not(:last-child) {
    margin: 0 0 12px 0;
}

.footer__bottom {
    margin: 11px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 767.8px) {
    .footer {
        margin: 10px 0 0 0;
    }
    .footer__networks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin: 0 10px 20px 0;
        order: 3;
        height: 100px;
    }


    .footer__list {
        display: flex;
        justify-content: flex-start;
    }

    .footer__middle {
        margin-right: 10px;
    }

    .footer__list-item {
        text-align: center;
    }

     .footer__network-img:not(:last-child) {
        margin: 0 10px 0 0;
    }

    .footer__list-item:not(:last-child) {
        margin: 0 5px 0 0;
    }

    .footer__list-item {
        flex-basis: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__bottom {
        display: flex;
        flex: 0 0 108px;
        overflow: hidden;
    }

    .footer__payment-img:not(:last-child) {
        margin: 0 10px 0 0;
    } 

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .footer__logo {
        order: -1;
        margin-right: 10px;

    }

    .footer__list {
        order: 2;
    }

    .footer__bottom {
        order: 4;
        margin:0;
    }

    
}

@media screen and (min-width: 1023.8px) {
    .footer__network-img {
        width: 24px;
        height: 24px;
    }
    
    .footer__bottom, .footer__list {
        margin: 0;
    }

    .footer {
        padding: 16px 16px 32px 16px;
        margin: 30px 0 0 0;

    }

    .footer__bottom {
        flex-direction: row;
    }

    .footer__list-item {
        flex-basis: 33.333%;
    }

    .footer__list-item:not(:last-child) {
        margin: 0;
    }

    .footer__list-item:first-child {
        padding: 10px;
    }

    .footer__networks {
        padding: 0 0 15px 0;
        margin: 0 15px 0 0;
    }

    .footer__payment-img:not(:last-child) {
        margin: 0 10px 0 0;

    }

}