name: Deployment
on: 
  push:
  pull_request:
    types: [closed, auto_merge_enabled]
    branches:
      - 'master'
jobs: 
  prettier:
    runs-on: ubuntu-latest
    steps:
      - name: Get project code
        uses: actions/checkout@v4
      - name: Cache depends
      - uses: actions/cache@v3
        with:
          path: ~/.npm
          key: node-modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm ci
      - name: Prettier code
        run: npm run lint
  build-and-deploy:
    needs: [prettier]
    runs-on: ubuntu-latest
    steps:
      - name: Get project code
        uses: actions/checkout@v4
      - name: Cache depends
      - uses: actions/cache@v3
        with:
          path: ~/.npm
          key: node-modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Deploy 
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build 
