name: Deployment
on: 
  push:
  pull_request:
    types: [closed, auto_merge_enabled]
    branches:
      - 'master'
jobs: 
  prettier:
    runs-on: ubuntu-latest
    steps:
      - name: set up Git
        run: |
          git config --global user.email "sharipov.albert1991@gmail.com"
          git config --global user.name "AlbShar"
      - name: Get project code
        uses: actions/checkout@v4
      - name: install dependencies
        run: npm ci
      - name: Prettier code
        run: npm run lint
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: set up Git
        run: |
          git config --global user.email "sharipov.albert1991@gmail.com"
          git config --global user.name "AlbShar"
      - name: Get project code
        uses: actions/checkout@v4
      - name: install dependencies
        run: npm ci
      - name: Deploy the code
        run: npm run deploy
